body {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2O0O3X+PwMDA8MhM0NGEI0LMBKtEJsJD27YgW1R0DgEtwWrdUQrxGYLY8V5iDUdhghrKFOITfenmXFgW/jSF+H3DNEKsdkCAO99IAvXcD3VAAAAAElFTkSuQmCC) repeat;
  background-color: #f1f7e6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 15px;
 /* margin: 0;*/
}

h1, h2, h3 {
    font-family: "Freeland W00 Regular", 'baskerville-urw', Georgia, Times, "Times New Roman", serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 13px
}

h1{
  font-size: 26px;
  line-height: 1.6em;
  color: #1ad095;
}
/*
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}*/

h2{
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 300px;
  color: #7d7d7d;
}


h3{
  font-size: 10px;
  line-height: 1.6em;
  color: #7d7d7d;
}

a {
   color: #7d7d7d;
/* rgba using a = 1
*/  text-decoration: none;
}

a:hover {
  color: #DD5555;
  text-decoration: underline;
  opacity: 0.5;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 30px auto; /* This automatically sets left/right margins */
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.27);
  text-align: center;
  padding: 30px 25px;
  margin-top: 50px;
  width: 500px;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.btn-green {
    background-color: #1ad095;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
}

#movies {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
}

/*.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}*/


li {
  display: inline;
  padding: 0px 20px;
}

i {
  font-size: 30px;
}

#img-profile {
    width: 250px;
    height: 250px;
    border: 1px dotted #cccccc;
}

/*adding responsiveness*/

@media (max-width: 1000px) {
  .container{
    width: 700px;
  }
}

@media (max-width: 700px) {
  .container{
    width: 500px;
  }
}

@media (max-width: 500px) {
  .container{
    width: 400px;
  }
}









































































